input, textarea {
	width: 100%;
	font-family: 'Helveticaneuecyr-Light';
	font-size: 18px;
	color: #000;
	background: #f5f1ec;
	border: 2px solid #f5f1ec;
	box-sizing: border-box;
    outline: none;
   -webkit-appearance: default-button;
   -webkit-appearance: none;
   -webkit-tap-highlight-color: transparent;
   padding: 0 15px 0 70px;
}

input {
	height: 60px;
}

input:placeholder {
    font-family: 'Helveticaneuecyr-Light';
	font-size: 16px;
	color: #bebebe;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: 'Helveticaneuecyr-Light';
  font-size: 18px;
  color: #bebebe;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  font-family: 'Helveticaneuecyr-Light';
  font-size: 18px;
  color: #bebebe;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: 'Helveticaneuecyr-Light';
  font-size: 18px;
  color: #bebebe;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
 font-family: 'Helveticaneuecyr-Light';
 font-size: 18px;
 color: #bebebe;
}

textarea {
	height: 200px;
	padding-top: 17px;
}

.field {
	position: relative;
	margin-top: 10px;
}

.icon {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon:after {
	content: '';
	width: 1px;
	height: 35px;
	position: absolute;
	right: 1px;
	top: 13px;
	border-right: 1px solid #bebebe;
}

input[type="submit"] {
	height: auto;
	width: auto;
	font-family: Helveticaneuecyr-Bold;
	font-size: 18px;
	line-height: 1.1;
    letter-spacing: 8px;
	color: #ffa100;
	background-color: #000;
	border: 2px solid #000;
	text-align: center;
	text-transform: uppercase;
	padding: 22px 80px 18px 80px;
	margin-top: 20px;
	cursor: pointer;
}

input[type="submit"]:hover {
	color: #000;
	background-color: transparent;
}

input[type="submit"].yelbtn {
	color: #fff;
	background-color: #ffa100;
}
  
input[type="submit"].yelbtn:hover {
	color: #000;
	background-color: #fff;
}

#msgSubmit {
	font-family: 'Helveticaneuecyr-Bold';
	font-size: 20px;
	color: #fff;
    margin-top: 22px;
}

@media(max-width: 960px) {
	form {
		margin-top: 40px;
	}
}

@media(max-width: 450px) {
	input[type="submit"] {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
